.promotion-modal-comments-tree{
  list-style: none;
  padding-left: 0;
}

.promotion-modal-comments-tree__item {
  display:flex;
  margin-top: 1.2rem;
}
.promotion-modal-comments-tree__avatar{
  width: 5rem;
  height: 5rem;
  border-radius:2.5rem;
  margin-right: 1rem;
}
.promotion-modal-comments-tree__info span {
  font-weight: 600;
}
.promotion-modal-comments-tree__info p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.promotion-modal-comments-tree__answer-button{
  background-color: transparent;
  padding:0;
  border:0;
  color: #3498DB;
}


.promotion-modal-comments-tree__comment-box{
  display: flex;
  align-items: flex-end;
}

.promotion-modal-comments-tree__send-button{
  margin-left: 1rem;
  border-radius: 4px;
  border: 1px solid #3498db;
  color: #3498db;
  background-color:transparent;
}